@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #f8fafc;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

